<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.nauteam.bullsandcows" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:minSdkVersion="11"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.android.nauteam.bullsandcows.DemoGame" >
        </activity>

        <activity
            android:name="com.android.nauteam.bullsandcows.DemoScores" >
        </activity>

        <activity
            android:name="com.android.nauteam.bullsandcows.ExitMenu" >
        </activity>

    </application>

</manifest>
